.position {
	margin: 0 auto 125px;
	padding-top: 300px;
	text-align: center;
	text-transform: uppercase;
	width: $mob;
	&-wrap {
		background-color: rgba(0,0,0,0.5);
		padding: 10px 5px;
		position: relative;
		z-index: 1010;
	}
	&__name {
		color: $green;
		border-top: 2px solid $green;
		border-bottom: 2px solid $green;
		font-size: rem(21);
		padding: 5px 0;
	}
}
.btn-cta {
	color: $green;
	background-color: transparent;
	border: 2px solid $green;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 30px;
	padding: 10px 25px; 
	text-transform: uppercase;
}
.about{
	&__logo {
		color: $green;
		display: inline-block;
		font-family: 'Pacifico';
		text-shadow: 2px 2px 6px black;
	}
	&__header {
		background-color: $dark-bg;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	&__menu {
		display: none;
		text-align: center;
		li {
			padding: 5px 0;
			a {
				color: white;
				display: block;
				height: 100%;
				width: 100%;
				&:hover {
					color: $green;
				}
			}
		}
	}
	&__main {
		&__photo {
			.photo {
				background-position: top center;
				background-repeat: no-repeat;
				background-size: cover;
				height: auto;
				margin-bottom: -4px;
				max-width: 768px;
				width: 100%;
			}
		}
	}
	&__description {
		background-color: $grey-bg;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
.burger {
	display: inline-block;
	float: right;
	&:after {
		content: '';
		clear: both;
	}
	button {
		background-color: $dark-txt;
		@include set-box-shadow (2px, 2px, 2px);
		border: none;
		height: 20px;
		width: 20px;
		&:active {
			@include set-box-shadow (0, 0, 0);
			@include transition();
		}
	}
	&__line, &__line:after, &__line:before {
		content: '';
		background-color: $dark-bg;
		display: block;
		height: 2px;
		margin: 0 auto;
		position: relative;
		@include transition();
		width: 14px;
	}
	&__line:before {
		top: -4px;
		@include transition();
	}
	&__line:after {
		bottom: -2px;
		@include transition();
	}
}
.aspirations {
	&__item {
		padding: 10px;
		&:hover {
			@include set-box-shadow (0, 0, 5px, rgba(0,0,0,0.2));
			@include transition();
		}
		h2 {
			color: $dark-txt;
			text-align: center;
			text-transform: uppercase;
		}
	}
}
.skills {
	&__list {
		margin-top: 50px;
		position: relative;
		width: 295px;
	}
	.wrap {
		background-color: $grey-bg;
		height: 30px;
		width: 100%;
	}
	&__level {
		display: inline-block;
		padding-right: 5px;
		padding-top: 5px;
		position: absolute;
		background-color: $green; 
		color: #fff;
		height: 30px;
		text-align: right;
	}
	& .php 			{ animation: f80 1s 0.2s linear 1 normal forwards; &:after { content: '80%'; }}
	& .mysql		{ animation: f85 1s 0.4s linear 1 normal forwards; &:after { content: '85%'; }}
	& .mvc			{ animation: f70 1s 0.6s linear 1 normal forwards; &:after { content: '70%'; }}
	& .oop			{ animation: f80 1s 0.8s linear 1 normal forwards; &:after { content: '80%'; }}
	& .js			{ animation: f85 1s 1.0s linear 1 normal forwards; &:after { content: '85%'; }}
	& .jq			{ animation: f85 1s 1.2s linear 1 normal forwards; &:after { content: '85%'; }}
	& .es			{ animation: f60 1s 1.4s linear 1 normal forwards; &:after { content: '60%'; }}
	& .ajax			{ animation: f60 1s 1.6s linear 1 normal forwards; &:after { content: '60%'; }}
	& .git			{ animation: f85 1s 1.8s linear 1 normal forwards; &:after { content: '85%'; }}
	& .seo			{ animation: f85 1s 2.0s linear 1 normal forwards; &:after { content: '85%'; }}
	& .html			{ animation: f90 1s 2.2s linear 1 normal forwards; &:after { content: '90%'; }}
	& .css			{ animation: f90 1s 2.4s linear 1 normal forwards; &:after { content: '90%'; }}
	& .scss			{ animation: f90 1s 2.6s linear 1 normal forwards; &:after { content: '90%'; }}
	& .gulp			{ animation: f75 1s 2.8s linear 1 normal forwards; &:after { content: '75%'; }}
	& .webpack		{ animation: f60 1s 3.0s linear 1 normal forwards; &:after { content: '60%'; }}
	& .foundation	{ animation: f65 1s 3.2s linear 1 normal forwards; &:after { content: '65%'; }}
	& .bootstrap	{ animation: f75 1s 3.4s linear 1 normal forwards; &:after { content: '75%'; }}
	& .email		{ animation: f60 1s 3.6s linear 1 normal forwards; &:after { content: '65%'; }}
	& .ps			{ animation: f85 1s 3.8s linear 1 normal forwards; &:after { content: '85%'; }}
	& .joomla		{ animation: f70 1s 4.0s linear 1 normal forwards; &:after { content: '60%'; }}
	& .wp			{ animation: f80 1s 4.0s linear 1 normal forwards; &:after { content: '60%'; }}
}
.resume {
	&__download{
		background-color: $grey-bg;
		padding-top: 20px;
		&:after {
			background-color: $grey-bg;
			bottom: -15px;
			content: '';
			display: block;
			height: 30px;
			margin: 0 auto;
			position: relative;
			transform: rotate(45deg); 
			width: 30px;
		}
	}
}
.education {
	&__institution {
		li {
			margin-top: 40px;
		}
	}
}
.philosophy {
	.slider{
		&-content {
			margin-bottom: 20px;
			&-item {
				display: none;
				blockquote > p {
					&:before, &:after {
						color: $grey-txt;
						content: '\f10e';
						display: inline;
						font-size: rem(12);
						font-family: 'FontAwesome';
						margin-right: 10px;
						margin-left: 0;
					}
					&:after {
						content: '\f10d';
						margin-right: 0;
						margin-left: 10px;
					}
				}
			}
		}
		&-dots {
			text-align: center;
			&-item {
				display: inline-block;
				margin: 0 5px;
				button {
					background-color: transparent;
					border: none;
					&:before {
						content: '';
						color: transparent;
						border: 2px solid $green;
						border-radius: 50px;
						display: block;
						height: 15px;
						width: 15px;
					}
				}
			}
		}
	}
}
.portfolio {
	.wrap {
		// display: flex;
		// flex-direction: row;
		// flex-wrap: wrap;
		// justify-content: space-around;
		margin-top: 40px;
	}
	&__item {
		display: inline-block;
		margin: 10px;
		position: relative;
		text-align: center;
		a {
			background: url('../img/matrix.jpg') center center no-repeat;
			display: block;
			height: 120px;
			position: relative;
			text-align: center;
			width: 120px;
			&:after {
				background-color: rgba(46, 204, 113, .8);
				color: white;
				content: '\f002';
				font-family: 'FontAwesome';
				font-size: rem(27);
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
				height: 120px;
				width: 120px;
			}
			&:hover:after {
				opacity: 1;
				transition: all .4s ease-in-out;
				line-height: 120px;
			}
		}
	}
}