.burger {
	&.open {
		button {
			@include set-box-shadow (0, 0, 0);
			@include transition();
		}
		.burger__line {
			transform: rotate(45deg);
			@include transition();
			&:before {
				transform: rotate(90deg);
				top: 0;
				@include transition();
			}
			&:after {
				height: 0;
				@include transition();
			}
		}
	}
}
.language {
	&__list.open {
		.language__list__item:last-child {
			display: block;
		}
	}
}
.about {
	&__menu { 
		&.open {
			display: block;
		}
	}
}
@keyframes f90 { from { width: 0; } to { width: 90%; }}
@keyframes f85 { from { width: 0; } to { width: 85%; }}
@keyframes f80 { from { width: 0; } to { width: 80%; }}
@keyframes f75 { from { width: 0; } to { width: 75%; }}
@keyframes f70 { from { width: 0; } to { width: 70%; }}
@keyframes f65 { from { width: 0; } to { width: 65%; }}
@keyframes f60 { from { width: 0; } to { width: 60%; }}
.philosophy {
	.slider {
		&-content {
			&-item.active {
				display: block;
			}
		}
		&-dots {
			&-item.active {
				button {
					&:before {
						background-color: $green;
					}
				}
			}
		}
	}
}